.topic{
    background:#abe6f5;
    margin: 25px;
    padding: 10px;
  }

  .Prices{
    background:#abe6f5;
    margin: 25px;
    padding: 10px;
  }

  .price{
    background:#f0fafc;
    margin: 10px;
    padding: 10px;
  }

  .inspo{
    background:#abe6f5;
    margin: 10px;
    padding: 10px;
  }

  .old{
text-align: center;

  }
.oldreasoning{
  background:#f0fafc;
    margin: 10px;
    padding: 79px;
    length:450px;
    text-align: left;
}

#timer{
  width:550px;
  length:400px;
  align:left;
}

#BLubuddy{
  width:540px;
  length:400px;
  align:right;
}

.blureasoning{
  background:#f0fafc;
    margin: 3px;
    padding: 53px;
    length:400px;
    text-align: left
}

.topnav {
  background-color: #abe6f5;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f0fafc;
  color: black;
}
