.topic{
    background:#abe6f5;
    margin: 25px;
    padding: 10px;
  }

  .Prices{
    background:#abe6f5;
    margin: 25px;
    padding: 10px;
  }

  .price{
    background:#f0fafc;
    margin: 10px;
    padding: 10px;
  }

  .inspo{
    background:#abe6f5;
    margin: 10px;
    padding: 10px;
  }

  .old{
text-align: center;

  }
.oldreasoning{
  background:#f0fafc;
    margin: 10px;
    padding: 79px;
    length:540px;
    text-align: left;
}

#timer{
  width:550px;
  length:400px;
  align:left;
}

#BLubuddy{
  width:550px;
  length:400px;
  align:right;
}

.blureasoning{
  background:#f0fafc;
    margin: 10px;
    padding: 79px;
    length:400px;
    text-align: left
}

