.topic{
    background:#abe6f5;
    margin: 25px;
    padding: 10px;
  }

  .Prices{
    background:#abe6f5;
    margin: 25px;
    padding: 10px;
  }

  .price{
    background:#f0fafc;
    margin: 10px;
    padding: 10px;
  }

  .inspo{
    background:#abe6f5;
    margin: 10px;
    padding: 10px;
  }

  .old{
text-align: right;

  }
.oldreasoning{
  background:#f0fafc;
    margin: 10px;
    padding: 10px;
    text-align: right;
}

#timer{
  width:300px;
}

